<!DOCTYPE html>
<html>
  <head>
    <%- include("head"); %>
  </head>
  <body>
  <header>
    <%- include("header"); %>
  </header>
  <main>

    <% activeDiscs.forEach(function(activeDisc) { %>
      <p><%=activeDisc.dis_id%> &#8211 <%=activeDisc.dis_title%></p>
    <% })%>

  </main>
  <footer>
    <%- include("footer"); %>
  </footer>
  </body>
</html>